/*
0px to 600px:       PHONE
600px to 900:       Tablet Potrait
900px to 1200px:    Tablet Landscape
1200 to 1800px:     Normal
1800px +:           Big Desktop
$breakpoint
-phone
-tabport
-tabland
-bigdesktop
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
/* fonts */
@media only screen and (max-width: 40em) {
  h1 {
    font-size: 2em; 
  }
  h5 {
    font-size: 2.50em; 
  } 
}
.textDiv h2,.learning h1,.numberDiv p ,.yellowNum,.university h1{
  font-family: 'Montserrat', sans-serif;
}
.coverImage, .textDiv p,.deptText p, .learning p{
  font-family: 'Work Sans', sans-serif;
}
.deptText h1,.card-title{
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}
/* colors */
.applyBtnClr,.textDiv h2{
  color:#FFC178;
}
.navbar-toggler,.visitBtn{
  background-color: #FFC178;
}
.nav-link,.textDiv p,.deptText p,.card-link{
  color:#879399;
}
/* body */
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; 
  } 
}
@media only screen and (max-width: 40em) {
  html {
    font-size: 75%; 
  } 
}
@media only screen and (max-width: 40em) {
  body {
    overflow-x: hidden; 
  }
}
@media only screen and (max-width: 45em) {
  body {
    overflow-x: hidden; 
  }
}
/* navbar */
.nav-item{
  margin-right: 5px;
}
.navbar-light{
  background-color: #FFF9F3;
}
.navbar-brand{
  margin-left: 80px;
}
@media only screen and (max-width: 45em) {
  .navbar-brand{
    margin-left: 0rem;
  }
}
.nav-link:hover{
  text-decoration: underline;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover{
  color:#FFC178;
}
.applyBtn{
  border-radius: 25px;
  background-color: white;
}

.textDiv{
  position: absolute;
  top: 150px;
  left: 220px;
}
.visitBtn{
  padding: 10px 25px;
  border-radius: 25px;
  border:none;
  color:white;
}
@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 2rem;
      padding-left: 2rem;
  }
  }
@media (max-width: 40em){
.navbar-collapse {
    padding: 0 80px;
  }

.textDiv{
  left:100px;
}
  }
/* department */
.deptText{
  height: 100px;
  width: 510px;
}
@media only screen and (max-width: 56.25em) {
  .deptText{
    height: 100px;
    width: 210px;
  }
}
@media only screen and (max-width: 40em) {
  .deptText{
    margin-top: 50px;
    height: 100px;
    width: 210px;
  }
}
@media only screen and (max-width: 45em) {
  .deptText{
    margin-top: 80px;
    height: 100px;
    width: 280px;
  }
}
/* @media only screen and (max-width: 75em) {
  .deptText{
    margin-top: 55rem;
    height: 100px;
    width: 280px;
  }
} */
.orangeCard{
  background-color: #F9703A;
}
.greenCard{
  background-color: #80BE41;
}
.yellowCard{
  background-color: #FFB157;
}
@media only screen and (max-width: 40em) {
  .orangeCard,.greenCard,.yellowCard{
    width: 20rem;
    margin: 0 auto;
  }
}
/* learning */
.yellowDiv{
  color:#FFBA00;
}
.yellowNum,.pinkNum,.greenNum{
  font-size: 40px;
}
@media only screen and (max-width: 40em) {
  .yellowNum,.pinkNum,.greenNum{
    font-size: 30px;
  }
}
.pinkDiv{
  color:#FF5F72;
}
.greenDiv{
  color: #43CB83;
}
/* university */
.university{
  margin: 120px 0px;
  background-image: url(images1/BG@1X.png);
  background-position: right;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 40em) {
  .uniCard{
    width: 20rem;
    margin: 0 auto;
  }
}
.uniCard-title{
  color:#282F3D;
}
.uniCard-title:hover{
  color:#FFC178;
  text-decoration: underline;
}
.card-link:hover{
  color:#282F3D;
}

/* Footer */
Footer{
  background-color: #252C3A;
  padding: 40px 0px;
  color:#707276;
}
Footer h5{
  color:white;
}
.input-group-text{
  background-color: #FFC178;
  color:white;
}
.socialList-item{
  display: inline;
}
.social-icon{
  color: gray;
}
.social-icon:hover{
text-decoration: none;
}
.footerList-item{
  list-style: none;
}
